<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<h1>Add recipe</h1>
<form method="POST" th:action="@{/add}">
    <input type="text" name="userId" th:value="${userId}"/>
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label for="ingredients">Ingredients: </label>
        <input type="text" id="ingredients" name="ingredients"/>
    </div>
    <button type="submit">Add</button>
</form>
</body>
</html>