<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Enter username and password</h1>
<span th:if="${message != null}" th:text="${message}">Default Value</span>
<form method="POST" th:action="@{/login}">
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="text" id="password" name="password">
    </div>
    <button type="submit">Sign In</button>
</form>
</body>
</html>